*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.insta-logo{
    margin-top: 15%;
}

nav {
    border-right: 1px solid black;
    height: 100vh;
    width: 17%;
    padding-left: 25px;
}

.nav-icon > a {
display: flex;
flex-direction: row;
gap: 15px;
margin-top: 2%;
text-decoration: none;
color: black;
margin-bottom: 35px;
font-size: 18px;
padding: 10px, 0px;
}

.nav-icon .menu2 {
border-radius: 20px;
display: flex;
}

.nav-icon .more {
    margin-top: 75%;
}

section{
    height: 100vh;
    width: 100%;
    color: black;
}

